.env
**/.env

venv/
**/venv/

__pycache__/
**/__pycache__/

*.pyc
*.pyo

.DS_Store

# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*

# Terraform variables/secrets
**/*.tfvars
**/*.tfvars.json
